@import '_imports';

*,
::after,
::before {
    box-sizing: border-box;
}


body {
    background-image: url('./../assets/images/dest/bg.png'), linear-gradient(191.16deg, #FBFBFB -0.22%, #F7F7F7 98.51%);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    // background-color: #01321D;
    color: #424242;
    font-family: 'Stolzi', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: .01rem;
    min-height: 100vh;
    // overflow-x: hidden;
    // overflow-y: auto;
    padding: 16px 0;
}

main {
    // max-width: 360px;
    max-width: 410px;
    margin: 0 auto;
    // padding: 16px;
    overflow: hidden;
}

strong {
    font-weight: 700;
}

a {
    color: #5C756A;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .1rem;
}

h1 {
    // font-family: 'Viaoda Libre', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #424242;
    letter-spacing: .01rem;
    line-height: 1.27;
    font-size: 30px;
    margin-top: 8px;

    >span {
        &:first-child {
            font-weight: 300;
            font-size: 12px;
            letter-spacing: .5rem;
        }

        &:last-child {
            font-size: 54px;
            line-height: .7;

            >span {
                display: block;
                font-size: 44px;
            }
        }
    }
}

.subtitle {
    strong {
        font-weight: 400;
    }
}

.wheel_section {
    position: relative;
    z-index: 5;
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#wheel_bg {
    position: absolute;
    z-index: 0;
    top: calc(50% + 16px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    img {
        width: 416px;
        height: 452px;
    }
}

#wheel {
    position: relative;
    width: 310px;
    height: 310px;
    z-index: 1;
    transition: all .3s var(--tr-1);

    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 4;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        left: -3px;
        top: -3px;
        border-radius: 100%;
        background: linear-gradient(317.99deg, #F4C17E 20.85%, #ECCE91 32.84%, #F7BC78 46.35%, #F4C17E 72.36%, #DFA85F 80.78%);
    }
}

.wheel_inner {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    // animation-timing-function: var(--tr-1);
    background: radial-gradient(50% 50% at 50% 50%, #FFE0AC 0%, #FFDB9D 100%);

    // background: radial-gradient(50% 50% at 50% 50%, rgba(255, 177, 177, 0) 91.67%, rgba(255, 157, 157, 0.0621) 100%), radial-gradient(50% 50% at 50% 50%, rgba(185, 20, 8, 0.76) 0%, rgba(239, 52, 39, 0.76) 100%), radial-gradient(50% 50% at 50% 50%, #CE1C20 0%, #DA393C 100%), #D9D9D9;
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 4;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        left: -3px;
        top: -3px;
        background-image: url('./../assets/images/dest/triangle.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(36deg);
    }
}

.wheel_line {
    background-color: rgba(141, 100, 30, 0.16);
    width: .5px;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    &:nth-child(1) {
        transform: translateX(-50%) rotate(calc(36deg * 0 + 18deg));
    }

    &:nth-child(2) {
        transform: translateX(-50%) rotate(calc(36deg * 1 + 18deg));
    }

    &:nth-child(3) {
        transform: translateX(-50%) rotate(calc(36deg * 2 + 18deg));
    }

    &:nth-child(4) {
        transform: translateX(-50%) rotate(calc(36deg * 3 + 18deg));
    }

    &:nth-child(5) {
        transform: translateX(-50%) rotate(calc(36deg * 4 + 18deg));
    }
}

.wheel_center {
    position: absolute;
    z-index: 11;
    display: block;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    width: 26px;
    height: 26px;

    .arrow {
        position: absolute;
        // bottom: 16px;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        transform-origin: bottom;
    }

    .center {
        background: linear-gradient(237.06deg, #F4C17E 17.3%, #ECCE91 30.55%, #FEE5B2 45.48%, #F4C17E 74.23%, #DFA85F 83.54%), linear-gradient(232.31deg, #D7BA82 7.34%, #ECCE91 24.64%, #FEE5B2 44.14%, #E6C480 81.68%, #C5A86F 93.83%);
        border-radius: 100%;
        width: 26px;
        height: 26px;
        box-shadow: 0 4px 16px rgba(19, 19, 19, 0.7);
    }
}

.wheel_prize_group {
    position: absolute;
    z-index: 54;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wheel_prize {
    font-size: 8px;
    text-transform: uppercase;
    width: 65px;
    transform-origin: 50% 154px;
    transform: rotate(0deg);
    text-align: center;
    position: absolute;
    z-index: 3;
    height: 100%;
    padding-top: 12px;

    &:nth-child(1) {
        transform: rotate(calc(36deg * 0));
    }

    &:nth-child(2) {
        transform: rotate(calc(36deg * 1));
    }

    &:nth-child(3) {
        transform: rotate(calc(36deg * 2));
    }

    &:nth-child(4) {
        transform: rotate(calc(36deg * 3));
    }

    &:nth-child(5) {
        transform: rotate(calc(36deg * 4));
    }

    &:nth-child(6) {
        transform: rotate(calc(36deg * 5));
    }

    &:nth-child(7) {
        transform: rotate(calc(36deg * 6));
    }

    &:nth-child(8) {
        transform: rotate(calc(36deg * 7));
    }

    &:nth-child(9) {
        transform: rotate(calc(36deg * 8));
    }

    &:nth-child(10) {
        transform: rotate(calc(36deg * 9));
    }
}

.wheel_prize_content {
    img {
        max-width: 50px;
        margin-top: 6px;
    }
}

.main_btn {
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .08rem;
    color: #fff;
    font-weight: 400;
    padding: 29px 50px;
    border: none;
    background: linear-gradient(95.22deg, #E91B1D 22.11%, #E11718 85.41%);
    // background: linear-gradient(232.31deg, #F4C17E 7.34%, #ECCE91 24.64%, #FEE5B2 44.14%, #F4C17E 81.68%, #DFA85F 93.83%);
    margin: 0 auto;
    display: block;
    cursor: pointer;

    &.disabled {
        background: rgb(168, 168, 168);
        cursor: default;
        user-select: none;
        pointer-events: none;
    }
}

#counter {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 16px;
}

.counter_inner {
    font-size: 13px;
    // background-color: rgba(0, 0, 0, 0.3);
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border: 1px dashed #6F6F6F;
        border-radius: 5px;
        z-index: -1;
    }

    a {
        text-decoration: underline;
        color: #6F6F6F;
    }
}

.counter_value {
    font-weight: 700;
    margin-left: 6px;
}

#modal {
    position: fixed;
    z-index: 999;
    padding: 16px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    max-width: 440px;
    left: 50%;

    p {
        font-size: 13px;
        display: block;
    }

    &.hide {
        display: none;
    }

    .modal_contet_desc {
        font-size: 12px;
        letter-spacing: .02rem;

        // margin-top: -.5rem;
        a {
            font-weight: 700;
            letter-spacing: .01rem;
            font-size: 13px;
            color: #ffe3ab;
            text-decoration: underline;
        }
    }

    .main_btn {
        margin-top: 1rem;
        width: 100%;
    }
}

.modal_title {
    // color: green;
    // font-family: 'Viaoda Libre', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #424242;
    letter-spacing: .01rem;
    line-height: 1.27;
    font-size: 20px;
    margin-bottom: 1rem;
}

.modal_prize {
    font-weight: 700;
}

.modal_content {
    // background-color: #fff;
    // background-color: #022415;
    background-color: #ededed;
    border-radius: 8px;
    padding: 16px;
}

.modal_image {
    width: 100px;
}

.modal_close_icon {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    right: 6px;
    top: 6px;
    // transform: translateX(-50%) translateY(50%);

    svg {
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }
}

#modal_overlay {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(2, 7, 3, 0.5);
    backdrop-filter: blur(10px);

    &.hide {
        display: none;
    }
}

.modal_promocode {
    background-color: #08442a;
    padding: 8px 24px;
    border-radius: 4px;
    position: relative;

    &.hide {
        display: none;
    }

    &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('./../assets/images/dest/copy.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 4px;
        top: 4px;
    }

    &.tooltip {
        &:after {
            content: 'Скопировано! :)';
            display: block;
            position: absolute;
            // bottom: calc(100% + 6px);
            top: 50%;
            left: 50%;
            font-size: 10px;
            transform: translateX(-50%) translateY(-50%);
            background-color: #f3c683;
            padding: 6px;
            color: rgb(27, 27, 27);
        }
    }
}