@mixin custom_scroll {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-3);
    }

    &::-webkit-scrollbar-thumb {
        background: #fff;
    }
}