svg.wheel_center(xmlns='http://www.w3.org/2000/svg' width='87' height='102' fill='none')
    g(filter='url(#a)')
        path(fill='#fff' d='M41.865 29.652c-.25-.868-1.48-.868-1.73 0l-9.99 34.601a.9.9 0 0 0 .866 1.15h19.977a.9.9 0 0 0 .866-1.15l-9.989-34.6Z')
    g(filter='url(#b)')
        circle(cx='40.677' cy='69.332' r='12.594' fill='url(#c)')
        circle(cx='40.677' cy='69.332' r='12.594' fill='url(#d)')
    defs
        lineargradient#c(x1='53.866' x2='26.528' y1='56.738' y2='77.86' gradientunits='userSpaceOnUse')
            stop(offset='.089' stop-color='#D7BA82')
            stop(offset='.266' stop-color='#ECCE91')
            stop(offset='.465' stop-color='#FEE5B2')
            stop(offset='.849' stop-color='#E6C480')
            stop(offset='.973' stop-color='#C5A86F')
        lineargradient#d(x1='52.071' x2='30.178' y1='61.713' y2='75.898' gradientunits='userSpaceOnUse')
            stop(offset='.089' stop-color='#F4C17E')
            stop(offset='.266' stop-color='#ECCE91')
            stop(offset='.465' stop-color='#FEE5B2')
            stop(offset='.849' stop-color='#F4C17E')
            stop(offset='.973' stop-color='#DFA85F')
        filter#a(width='86.363' height='100.986' x='.586' y='.4' color-interpolation-filters='sRGB' filterunits='userSpaceOnUse')
            feflood(flood-opacity='0' result='BackgroundImageFix')
                fecolormatrix(in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                    feoffset(dx='2.768' dy='3.69')
                        fegaussianblur(stddeviation='16.146')
                            fecomposite(in2='hardAlpha' operator='out')
                                fecolormatrix(values='0 0 0 0 0.55 0 0 0 0 0.0950438 0 0 0 0 0.075625 0 0 0 0.64 0')
                                    feblend(in2='BackgroundImageFix' result='effect1_dropShadow_105_110')
                                        feblend(in='SourceGraphic' in2='effect1_dropShadow_105_110' result='shape')
        filter#b(width='41.795' height='41.795' x='19.779' y='45.666' color-interpolation-filters='sRGB' filterunits='userSpaceOnUse')
            feflood(flood-opacity='0' result='BackgroundImageFix')
                fecolormatrix(in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                    feoffset(dy='-2.768')
                        fegaussianblur(stddeviation='4.152')
                            fecomposite(in2='hardAlpha' operator='out')
                                fecolormatrix(values='0 0 0 0 0.370833 0 0 0 0 0.370833 0 0 0 0 0.370833 0 0 0 0.25 0')
                                    feblend(in2='BackgroundImageFix' result='effect1_dropShadow_105_110')
                                        feblend(in='SourceGraphic' in2='effect1_dropShadow_105_110' result='shape')
                                            fecolormatrix(in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                                feoffset(dy='-7.381')
                                                    fegaussianblur(stddeviation='1.845')
                                                        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
                                                            fecolormatrix(values='0 0 0 0 0.866667 0 0 0 0 0.712663 0 0 0 0 0.415278 0 0 0 0.2 0')
                                                                feblend(in2='shape' result='effect2_innerShadow_105_110')
                                                                    fecolormatrix(in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                                                        feoffset(dy='2.768')
                                                                            fegaussianblur(stddeviation='1.845')
                                                                                fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
                                                                                    fecolormatrix(values='0 0 0 0 1 0 0 0 0 0.964844 0 0 0 0 0.8875 0 0 0 1 0')
                                                                                        feblend(in2='effect2_innerShadow_105_110' result='effect3_innerShadow_105_110')
                                                                                            fecolormatrix(in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                                                                                feoffset(dx='2.768')
                                                                                                    fegaussianblur(stddeviation='1.845')
                                                                                                        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
                                                                                                            fecolormatrix(values='0 0 0 0 1 0 0 0 0 0.898039 0 0 0 0 0.670588 0 0 0 1 0')
                                                                                                                feblend(in2='effect3_innerShadow_105_110' result='effect4_innerShadow_105_110')
                                                                                                                    fecolormatrix(in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                                                                                                        feoffset(dx='-1.845')
                                                                                                                            fegaussianblur(stddeviation='1.845')
                                                                                                                                fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
                                                                                                                                    fecolormatrix(values='0 0 0 0 1 0 0 0 0 0.898039 0 0 0 0 0.670588 0 0 0 1 0')
                                                                                                                                        feblend(in2='effect4_innerShadow_105_110' result='effect5_innerShadow_105_110')
